<div class="container pt-5">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
      <p><%= t('view.comment') %></p>
      <div class="mb-3"><%= commented.content %></div>
      <span class="mr-1" id="comment-edit-btn">
        <%= link_to t('view.edit'), edit_comment_path(commented.id), method: :get, remote:true, class:"btn btn-outline-success" %>
      </span>
      <span id="comment-destroy-btn">
        <%= link_to t('view.delete'), comment_path(commented.id), method: :delete, remote:true, class:"btn btn-outline-danger", data: { confirm: '本当に削除して良いですか？' } %>
      </span>
    </div>
  </div>
</div>
